<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.indianservers.universitynotifications">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/jntu"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/jntu" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <activity
            android:name=".UniversityChooseActivity"
            android:configChanges="orientation|screenSize"></activity>
        <activity
            android:name=".NumberVerificationActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotificationsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".DashboardActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".SingleNotificationActivity"
            android:configChanges="orientation|screenSize" />
        <!-- Firebase Notifications -->
        <service
            android:name=".service.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->
        <activity
            android:name=".OtherActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".RRBExamsActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Topics" />
        <activity
            android:name=".Quiz"
            android:theme="@style/AppThemee" />
        <activity android:name=".Gestures" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".SetActivity" />
        <activity android:name=".GateActivity" />
        <activity android:name=".IBPSActivity" />
        <activity
            android:name=".ExamActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppThemee" />
        <activity android:name=".QuestionFullscreenActivity" />
        <activity android:name=".GateExamsActivity" />
        <activity
            android:name=".GateQuestionsActivity"
            android:theme="@style/AppThemee" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->

    </application>

</manifest>